@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

body {
    max-width: 50em;
    margin: auto;
    background-color: #111;
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    font-size: larger;
}

a {
    color: #00AAFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div.content {
    padding: 20px;
}

canvas {
    background: #111;
    top: 0;
    left: 0;
    z-index: -99;
    position: absolute;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

code {
    font-family: 'Fira Code', monospace;
}